<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Meu saldo</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-item *ngFor="let item of item$ | async">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg>
          <strong>{{ item.descricao }}</strong>
          <br>
        </ion-col>
        <ion-col size="12" size-lg>
          {{ item.tipoGasto }}
          <br>
        </ion-col>
        <ion-col size="12" size-lg>
          {{ item.formaPagamento }}
          <br>
        </ion-col>

        <ion-col size="12" size-lg>
          {{ getDatas(item.dataCriacao) }}
          <br>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-start" size="12" size-md>
            <strong>R$ {{ item.valorGasto}}</strong>
            <br><ion-button color="primary" size="small" (click)="editar(item.docId)">EDITAR </ion-button>
            <br><ion-button color="danger" size="small" (click)="excluir(item.docId)">EXCLUIR</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>

</ion-content>
