<ion-header>
  <ion-toolbar>
    <ion-title>Editar Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-item>
      <ion-label position="floating">Descricao:</ion-label>
      <ion-input [(ngModel)]="gasto.descricao" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor: R$ </ion-label>
      <ion-input [(ngModel)]="gasto.valorGasto" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data de Regristro:</ion-label>
      <ion-datetime

        value="{{timestampSTR}}"
        [(ngModel)] = "timestampSTR"
         min="1930-01" max="2030"
        [dayShortNames]="customDayShortNames"
        displayFormat="DD MMM, YYYY"
        cancelText="Cancelar"
        doneText="OK"
        monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
         ></ion-datetime>
    </ion-item>

  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="gasto.tipoGasto">
      <ion-list-header>
        <ion-label class="my-label" >Tipo de Gasto</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let tipo of tipodeGasto; let i = index;">
        <ion-label >{{tipo}}</ion-label>
        <ion-radio slot="end" value="{{tipo}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="gasto.formaPagamento">
      <ion-list-header>
        <ion-label class="my-label" >Forma de pagamento</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let forma of formaPagamento; let i = index;">
        <ion-label >{{forma}}</ion-label>
        <ion-radio slot="end" value="{{forma}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="gasto.categoria">
      <ion-list-header>
        <ion-label class="my-label" >Categoria</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let categoria of categorias; let i = index;">
        <ion-label >{{categoria}}</ion-label>
        <ion-radio slot="end" value="{{categoria}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-toolbar>
    <ion-title size="small" color="danger">{{ erroMsn }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small" color="primary">{{ okMsn }}</ion-title>
  </ion-toolbar>

  <ion-item-divider></ion-item-divider>
  <ion-button expand="block" (click)="updateGasto()">Salvar</ion-button>
  <ion-button expand="block" color="danger" (click)="dismiss()">Voltar</ion-button>

</ion-content>
